.chat-message-user{
display: flex;
justify-content: end;
align-items: center;
/* border: solid 1px rebeccapurple; */

}

.chat-message-bot{
    display: flex;
    align-items: center;
}

.chat-message{
    background-color: #e8e8e4 ;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 300px;
}



.chat-profile-user{
    margin-left: 5px;
}
.chat-profile-bot{
    margin-right: 5px;
}