.send-button{
    background-color: #52b788;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
}

.text-input{
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    flex-grow: 1;
}

.text-bar{
    display: flex;
}